:root {
  --page-gutter: 24px;
}

@media (min-width: 600px) {
  :root {
    --page-gutter: 32px;
  }
}

@media (min-width: 1000px) {
  :root {
    --page-gutter: 40px;
  }
}

.page-layout {
  min-height: 100dvh;
  width: 100%;
  overflow-x: clip;
  background-color: var(--color-cream);
  padding-inline: var(--page-gutter);
}
