/* Heading: self-hosted Nanum Myeongjo (OFL) so Hangul titles never hit Times.
   Body: self-hosted Pretendard (SIL OFL).
   Noonnu faces such as 리디바탕 / 본명조 are not bundled — confirm license before adding. */

@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('/fonts/NanumMyeongjo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'MaruBuri';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'KookminUniversitySunggokSemiSerif';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/2607101541@kmu80sungkoksemiserif/kmu80sungkoksemiserif/KMU80SungkokSemiSerif.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}
